<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="appmsw-banks-ru.ZPM">
    <Module>
    <Name>appmsw-banks-ru</Name>
    <Version>1.0.0</Version>
	<Description>An example of working with the service for updating the list of Russian banks.</Description>
    <Packaging>module</Packaging>
	<Keywords>example service</Keywords>
	<Author>
	<Person>Mikhaylenko Sergey</Person>
	<CopyrightDate>2022</CopyrightDate>
	<License>https://www.cbr.ru/eng/about/</License>
	</Author>
	<SystemRequirements Version=">=2020.1" Interoperability="enabled" />
	<SourcesRoot>src</SourcesRoot>
	<Invoke Class="%EnsembleMgr" Method="EnableNamespace" Phase="Compile" When="Before" CheckStatus="true">
	   <Arg>${namespace}</Arg>
	</Invoke>
	<Invoke Class="appmsw.banks.util" Method="init" Phase="Activate" When="After"/>
	<Dependencies>
	  <ModuleReference>
      <Name>apptools-admin</Name>
        <Version>1.1.*</Version>
      </ModuleReference>
    </Dependencies>
	<Resource Name="appmsw.banks.PKG"/>
	<Resource Name="Sb.PKG"/>
	</Module>
  </Document>
</Export>
